In [25]:
import pandas as pd  # Import the pandas library for data manipulation

data={  # Define a dictionary with sample data
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [24,None, 22, None],
    'City': ['New York', 'Los Angeles', None, 'Chicago'],
    'Salary': [70000, 80000, None, 60000]
}

df=pd.DataFrame(data)                   # Create a DataFrame from the dictionary

In [26]:

print(df)  # Print the DataFrame
print(df.isnull().sum())              # Print the count of missing values in each column
print(df.dropna())                    # Print the DataFrame after dropping rows with missing values
print("")
                           # Print the DataFrame after filling miSsing values in 'Age' with the mean age

      Name   Age         City   Salary
0    Alice  24.0     New York  70000.0
1      Bob   NaN  Los Angeles  80000.0
2  Charlie  22.0         None      NaN
3    David   NaN      Chicago  60000.0
Name      0
Age       2
City      1
Salary    1
dtype: int64
    Name   Age      City   Salary
0  Alice  24.0  New York  70000.0

In [27]:

##Handling missing values by filling them with the mean of the column

df['Age'] = df['Age'].fillna(df['Age'].mean()) # Fill missing values in 'Age' with the mean age
df['Salary']=df['Salary'].fillna(df['Salary'].mean()) # Fill missing values in 'Salary' with the mean salary
print(df)

      Name   Age         City   Salary
0    Alice  24.0     New York  70000.0
1      Bob  23.0  Los Angeles  80000.0
2  Charlie  22.0         None  70000.0
3    David  23.0      Chicago  60000.0

In [38]:
import pandas as pd
df=pd.read_csv('data.csv')

In [ ]:
##Encoding categorical values using label encoding ,one-hot encoding
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['encoded-Passed']=le.fit_transform(df['Passed']) # Label encoding for 'Passed' column
print(df)
print("")

       Name  Gender     City Passed  encoded-Passed
0     Alice  Female  Chicago    Yes               1
1       Bob    Male  Chicago     No               0
2   Charlie    Male  Chicago    Yes               1
3     David    Male  Houston     No               0
4       Eve  Female  Houston    Yes               1
5     Frank    Male  Houston     No               0
6     Grace  Female  Houston    Yes               1
7    Hannah  Female   Dallas     No               0
8       Ian    Male   Dallas    Yes               1
9     Julia  Female   Austin     No               0
10    Kevin    Male   Austin    Yes               1
11    Laura  Female   Austin     No               0

In [47]:
# One-hot encoding for 'City' column
print("One hot encoding for 'City' column")
one_hot_encoded_df = pd.get_dummies(df, columns=['City'], prefix='City')
print(one_hot_encoded_df)

One hot encoding for 'City' column
       Name  Gender Passed  encoded-Passed  City_Austin  City_Chicago  \
0     Alice  Female    Yes               1        False          True
1       Bob    Male     No               0        False          True
2   Charlie    Male    Yes               1        False          True
3     David    Male     No               0        False         False
4       Eve  Female    Yes               1        False         False
5     Frank    Male     No               0        False         False
6     Grace  Female    Yes               1        False         False
7    Hannah  Female     No               0        False         False
8       Ian    Male    Yes               1        False         False
9     Julia  Female     No               0         True         False
10    Kevin    Male    Yes               1         True         False
11    Laura  Female     No               0         True         False

    City_Dallas  City_Houston
0         False         False
1         False         False
2         False         False
3         False          True
4         False          True
5         False          True
6         False          True
7          True         False
8          True         False
9         False         False
10        False         False
11        False         False