In [6]:
import pandas as pd
data={
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [24,None, 22, None],
    'City': ['New York', 'Los Angeles', None, 'Chicago'],
    'Salary': [70000, 80000, None, 60000]
}
df=pd.DataFrame(data)
print(df)
print(df.isnull().sum())

      Name   Age         City   Salary
0    Alice  24.0     New York  70000.0
1      Bob   NaN  Los Angeles  80000.0
2  Charlie  22.0         None      NaN
3    David   NaN      Chicago  60000.0
Name      0
Age       2
City      1
Salary    1
dtype: int64